.p-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    background-color: #fff;

    // column-gap: 30px;

    h2{
        text-transform: capitalize;
        font-size: 40px;
        font-family: $forum;
      
        margin: 25px 0;
        font-weight: 800;
        @media (max-width:"600px") {
            font-size: 32px;
            margin:20px 0;
            
        }

    }
  
    // .topbanner-navbar{
    //     background-color: #072c50;
    //     width: 100%;
    //     margin: 0;
    //     position: fixed;g
    //     z-index: 99;
    //     display: flex;
    //     justify-content: space-between;

     
    //     .logo{
    //         width: 55px;
    //         @media (max-width:"600px") {
    //             width: 65px;
    //         }
    //         span{
    //             border-radius: 50%;
    //         }
    //     }
      
    //     .topnav{
    //         display: flex;
    //         justify-content: flex-end;
    //         padding-right: 20px;
    //         box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);


    //     }
    //     a{
    //         font-size: 16px;
    //         padding: 18px;
    //         &:hover{
    //             background-color: #fe6f06;
    //             opacity: 0.85;
    //         }
    //     }
    // }

    .left-container{
        // max-width: 300px;      
        width: 25%;
        // width: 1000;
        height: calc(100% - 70px);
        padding: 20px 10px;
        position: fixed;
        display: flex;
        flex-direction: column;
        // max-width: 450px;
        justify-content: space-between;

    //    background-image: url("../../public/images/loginScreenBg.jpg");
        background-attachment: fixed;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        // @extend .boxshadowdark;
        // box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        // box-shadow: 1px 5px 1px -2px rgb(0 0 0 / 50%);;

        @media (max-width: 600px) {
             width: 100%; 
             height: auto;
             position: relative; 
             padding: 14px 10px;  
             display: flex;
             justify-content: center;
           //  background-image: url("../../public/images/loginScreenBg.jpg");
             background-attachment: fixed;
        }

        // background-image: url("/image/loginScreenBg.jpg");

        ul{
            display: flex;
            flex-direction: column;
            justify-content: top;
            align-items: center;
           
            .custom-profile{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 10px;
                border: 5px solid #dae4f4;
                position: relative;
                @media (max-width:"600px") {
                    width: 200px;
                    height: 200px;
                    margin: 10px 0 6px 0;

                }
            
                img{
                    width: 100%;
                    background-color: aliceblue;
    
                }
                input[type="file"] {
                display: none;
                }

                label{
                    position: absolute;
                    width: 100%;
                    height: 60px;
                    left: 0;
                    bottom: 0;
                    padding: 0;
                    background-color: rgba(0,0,0,.6);
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    @media(max-width:"600px")  {
                        height: 45px;
                        
                    }

                    span{
                       
                        font-size: 40px;
                        line-height: 30px;
                        // margin-top: 6px;
                        color: #fff;
                    }
                    
                }
            }
            li{
                width: 100%;
                text-align: center;
               
                h2{
                    font-size: 36px;
                    text-transform: capitalize;
                    font-weight: 600;
                    margin-bottom: 6px;
                    font-family: $forum;
                    color: #FFFFFF;

                    @media (max-width:"600px") {
                        font-size: 30px;
                        font-weight: 500;
                        margin-bottom: 0;
                        
                    }
                }
                p{
                    font-size: 28px;
                    // text-align: left;
                    color: #fe6f06;
                    // font-weight: 500;
                    margin-bottom: 15px;
                    
                    @media (max-width:"600px") {
                        font-size: 20px;
                     
                        
                    }
                }

             
                    
                    // padding-top: 150px;
            

            }
            &:nth-child(1){

                @media (max-width:"600px") {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .profileDesc{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        background-color: transparent;
                        border: 0px;
                        font-size: 20px;
                        color: #ccc;
                        position: absolute;
                        right: 70px;
                        cursor: pointer;

                        // @media (max-width:"600px") {
                        //         position: absolute;
                        //         bottom: 0;
                        //         right: 70px;
                        //         margin-bottom: 22px;
                        // }
                    }
                
                input{
                    width: 100%;
                    padding: 10px;
                    // padding-right: 40px;
                    line-height: 20px;
                    font-size: 20px;
                    border-top-style: hidden;
                    border-right-style: hidden;
                    border-left-style: hidden;
                    border-bottom: 1px solid #ced4da;
                    background-color: transparent;
                    outline:none;
                    color: #fe6f06;
                    
                    text-transform: capitalize;
                    // margin-left: 30px;

                    @media (max-width:"600px") {
                        margin-left: 0;
                        width: auto;
                        margin-left: 0;
                        
                    }
                    &::placeholder{
                        color: rgba(247, 247, 247, 0.774);
                        font-weight: 400;
                        @media (max-width:"600px") {
                            font-size: 18px;
                            text-align: left;
                            
                        }
                    }
                   
                    &:disabled{
                        background-color: transparent;
                        text-align: center;
                        border-bottom: none;
                        color: #fe6f06;
                        // margin-left: 30px;
                        &::placeholder{
                            @media  (max-width:"600px") {
                                padding-left: 70px;
                            }
                        }
                       input{
                        max-width: 100px;
                       
                       
                       }
                    }
                   
                }
            }
            }
           
         
          
        }

        // .share{
            // display: flex;
            // justify-content: center;
        
            // position: relative;
          
           
            // z-index: 9;
            // text-align: center;
           
            // width: 100%;
        
            .socialshare-btn{
               
                    display: flex;
                
                    justify-content: center;
                    align-items: center;
                    column-gap: 30px;
                    background-color: rgba(213, 237, 246,0.5);
                    border-radius: 50px;
                    padding: 8px 20px;
                    margin: 0 40px;

                    @media (max-width:"600px") {
                        z-index: 9;
                        // background-color: rgba(213, 237, 246);
                        background-color: rgb(5 18 50 / 95%);
                        width: 100%;
                        position: fixed;
                        column-gap: 30px;
                        bottom: 0;
                        left: 0;
                        border-radius: 0;
                        margin: 0;
                    
                    } 

            }

            .share-label{
                font-size: 24px;
                color: #ccc;
                text-align: center;
               

            }
        // }
       



    }


    .right-container{
        // max-width: calc(100% - 300px);
        width: 75%;
        padding: 50px;
        margin-left: 25%;
        min-height: 100vh;
        @media (max-width:"600px"){
            width: 100%;
            margin: 0;
            padding: 20px;
        }

        .card-box{ 
                display: flex;
            position: relative;
             flex-direction: column;
             width: 100%;
            //  max-width: 1080px;
            //  padding-bottom:50px;
             margin: 0 auto;
             box-sizing: border-box;
             border-bottom: 1px solid #e1e5ec;
             padding-bottom: 100px;

             @media (max-width:"600px") {
                 padding-bottom: 75px;
                 
             }

            //  .emptydetails{

            //  }

              

                  // card-data
               .card-data{
                   position: relative;
                   display: flex;
                   column-gap: 20px;
                   row-gap: 30px;
                   flex-wrap: wrap;    

                   @media (max-width:"600px") {
                       flex-direction: column;
                       width: 100%;
                       padding: 14px;
                       
                   }
              
                   li{
                    
                    //    width: calc(33.33% - 15px);
                    width: calc(25% - 15px);
                    background-color: #072c50;
                    border-radius: 10px;
                    overflow: hidden;
                    cursor: pointer;
                    &.hidden{
                        filter: grayscale(0.9);
                        pointer-events: none;
                    }
                    &:hover{
                        transition: all 0.5s ease-in-out;
                        .p-cardBox{
                            .cardImg{
                                img{
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                    //    margin-bottom: 50px;
                       .p-cardBox{
                           width: 100%;
                           position: relative;
                        //    border: 1px solid #ccc;
                        //    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       
                          
                           .cardImg{
                                   position: relative;
                                   z-index: 2;
                                   overflow: hidden;
                                   img{
                                   width: 100%;
                                   transition: all 0.5s ease-in-out;
                                    // &:hover{
                                        
                                        
                                    // }
                                
                               }
                           }
                           .cardContent{
                               background-color: #072c50;
                               
                               padding: 12px;
                               width: 100%;       
                               height: calc(100% - 80px);
                               align-items: flex-end;
                                @media (max-width:"600px") {
                                    line-height: 20px;
                                    row-gap: 30px;
                             }
                              


                               
       
                               h3{
                                   color: #fff;
                                   font-size: 24px;
                                   text-transform: capitalize;
                                   font-family: $forum;
                                   margin-bottom: 6px;
                                   text-align: center;
                                   cursor: pointer;

                                   @media (max-width:"600px"){
                                    font-size: 22px;
                                    margin-bottom:4px;
                                     }
                               }
                               p{
                                   color: #a1cbd9;
                                   font-size:14px;
                                   display: flex;
                                   flex-wrap: wrap;
                                   text-transform: lowercase;
                               }
                           }
                      
                       }

                       @media (max-width:"600px") {
                           width: 100%;
                           
                       }
                   }
               }  
            }

        }

        // video section
        .video-box{
            border-bottom: 1px solid #e1e5ec;
            padding-bottom: 100px;
            ul{
                display: flex;
               justify-content: space-between;
            //    padding: 0 15px;
               column-gap: 30px;

              
               li{
                width: 100%;
                  
               }
              @media (max-width:"600px") {
                  flex-direction: column;
                  row-gap: 30px;
              } 

            }

            @media (max-width:"600px") {
                padding-bottom: 75px;
                
            }

        }

    .connection-section{
        // margin-bottom: 30px;
        // border-bottom: 1px solid #e1e5ec;
        // padding-bottom: 75px;
            // upper footer
            .upper-footer{
                position: relative;
                ul{
                    display: flex;
                    column-gap: 10px;

                    @media (max-width:"600px") {
                        flex-direction: column;
                      
                        
                    }

                    li{
                        padding: 30px;
                        
                    @media (max-width:"600px") {
                     padding: 20px;
                      
                        
                    }
                        img{
                            width: 100%;
                        }
                    }
                }
            }

    }    

    .footer{
        @media (max-width:"600px")  {
            padding-bottom: 85px !important;
            
        }
    }
       

}