
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

.boxshadowdark{
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);

}
.navboxshadowlight{
  
        -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.05);
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.05);
}
body{
    background-color: $greybg;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}
.wrapper{
    width: 100%;
    padding: 0px 15px ;
    background-color: #FFF;
    // height: 70px;
    @extend.boxshadowdark;
}

.box-shadow {
  box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.5);
}

.anim {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.anim1 {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.box{
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .4rem;
    @extend .boxshadowdark;
    overflow-y: scroll;
    padding: 35px;

    h2{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    table{
        // border: 1px solid #201f1f;
        border-collapse: collapse;
        width: 100%;
        th{
          font-weight: 700;
          color: #505D69;
          font-size: 18px;
          padding: 10px;
          text-align: start;
          // border: 1px solid #201f1f;
          border: 1px solid #f1f1f1;
    
        }
        tbody{
          tr{
            td{
              border: 1px solid #f1f1f1;
              padding: 10px;
              vertical-align: middle;
              // width: 100%;
              // white-space: nowrap;

              .checkbox-data{
                margin: 10px 16px;
                li{
                  list-style-type: circle;

                  // &.none-checkdata{
                  //   display: none;
                  //   // list-style-type: none;
                  // }
                }

              }

              &.tdevent{
                color: #505D69;
                a{
                  display: flex;
                  align-items: center;
                }
              }
              &.tdzoomlink{
                width: 30%;
              }
    
              img{
                
                max-width: 80px;
                width: 100%;
              }
            }
            &:nth-child(even){
              background-color: #f1f5f7;    
            }
          }
        }
       }
}

.con-row{
  padding: 50px 0;
}

.form-row{
    input[type="date"]{
        width: 100%;
        padding: 10px;
        // padding-right: 40px;
        line-height: 20px;
        border:1px solid $bordercolor;
        font-size: 16px;
        // font-family: inherit;
        border-radius: 5px;
     
      }
      textarea{   
         width: 100%;
         padding: 10px;
         line-height: 20px;
         border:1px solid $bordercolor;
         font-size: 16px;
         border-radius: 5px;
         height: 200px;

          &:focus{         
            outline-color:#ced4da;
            &::placeholder {
                opacity: 0;
              }
            
          }

      }
      input[type="text"]{
          width: 100%;
          padding: 10px;
          padding-right: 40px;
          line-height: 20px;
          border:1px solid $bordercolor;
          font-size: 16px;
          border-radius: 5px;
          // background-image: url("../../public/images/warning.svg");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: right 8px center;
    
          &:valid{
              // background-image: url("../../public/images/checksvg.svg");
              background-size: 20px;
              background-repeat: no-repeat;
              background-position: 20px 20px;
              background-position: right 8px center;    
          }
          &:focus{         
              outline-color:#ced4da;
              &::placeholder {
                  opacity: 0;
                }
              }
            }
          input.valid{
              outline-color: #0ac074;
          }
}
.loader2 {
  width: 48px;
  height: 48px;
  border: 5px solid #f0f4fd;
  border-bottom-color: #fe6f06;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
      }
  } 
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.popup-box {
  // position: fixed;
  // background: #00000050;
  // width: 100%;
  // height: 100vh;
  // top: 0;
  // left: 0;
  // z-index: 99;
   position: fixed;
    overflow: hidden;
    top: 0%;
    width: 100%;
    height: 100%;
    padding: 90px;
    background-color: #000000f0;
    z-index: 99;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    @media screen and (max-width: "400px") {
      padding: 20px;
      }


  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

    @media screen and (max-width: "400px") {

    padding: 15px;
    width: auto;
    margin-top: 0;

    }
    
    h2{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
      font-family: 'Forum';

      @media screen and (max-width: "400px") {
        font-size: 22px;
      
    
        }
    }

    .close-icon {
      // content: 'x';
      // cursor: pointer;
      // position: fixed;
      // right: calc(15% - 30px);
      
      // background: #ededed;
      // width: 25px;
      // height: 25px;
      // border-radius: 50%;
      // line-height: 20px;
      // text-align: center;
      // border: 1px solid #999;
      // font-size: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #666;
        top: 20px;
        right: 20px;
        position: fixed;
        font-size: 20px;
        line-height: 36px;
        color: #ccc;
        text-align: center;
        cursor: pointer;
        }

    .agendaDetails{
        ul{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          padding: 8px;
          li{
            font-size: 20px;
            font-family: "forum";
            margin-bottom: 10px;
            list-style-type: disc;
            line-height: 22px;
            @media screen and (max-width: "400px") {

              font-size: 16px;
          
              }
            strong{
              font-weight: 700;
            }
          }
        }
    }
  }

  
    
}

// navabr
.topbanner-navbar{
  position: absolute;
  margin: 20px;
  // width: 100%;
  top: 0;
  right: 0;
  // height: auto;

  .topnav{
    overflow: hidden;
    position: relative;
    // background-color: #fff;
    border-radius: 2px;

 
    a{
      float: left;
      color: #fff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 18px; 
      display: flex;
    column-gap: 2px;
    
      // font-weight: 500; 

      &:hover{
        background-color: #ccc;
        color: #fff;
        font-weight: 500;
        opacity: 0.95;
        transition: 0.3s;
        border-radius: 2px;
      }
    }
  }
}


sup{
  
font-size: 16px;
color: red;
}

