$greybg:#f3f3f4;
$orange:#fcb92c;
$redcolor:#ff3d60;
$headingcolor:#343a40;
$bodytextcolor:#505d69;
$greencolor:#0ac074;
$navbarcolor:#636e75;
$iconscolor:#74788d;
$bluecolor:#16274f;
$bordercolor:#ced4da;
$radiobtn:#0bb197;
$pclr:#a1cbd9;
$blueclr:#072c50;
$mcolor:#fe6f06;



@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


$forum :'Forum';
$italianfont:'Smooch';